html{
	font-family: Verdana, sans-serif;
}
body{
	padding: 0;
	margin: 0;
	background: #F3F3F3;
}

.button{
	background-color: yellow;
	padding-top: 1em;
	padding-bottom: 1em;
	border-radius:2em;
	text-decoration: none;
	border: none;
	color: black;
}

.cancel{
	background-color: grey;
}

.close{
	background: none;
	text-decoration: none;
	border: none;
	font-size: 4rem;
	line-height: 1ex;
	font-weight: lighter;
	padding: 0.25ex;
}
